set autoindent
set linenumbers
set matchbrackets ()
set matchbrackets {}
set matchbrackets <>
set matchbrackets ""
set matchbrackets ''
set matchbrackets []
set mouse
set numbercolor white,black
set selectedcolor white,blue
set tabsize 2
set multibuffer
